<div class="welcome">
    <div class="welcome__background"></div>
    <div class="welcome__title-box">
        <h1 class="welcome__title">See basketball your way</h1>
    </div>
    {{#link-to 'login' class="welcome__sign-in"}}Sign in{{/link-to}}
    {{#link-to 'sign-up' class="welcome__sign-in"}}Sign up{{/link-to}}
</div>
