.sign-in {
    border: 1px solid $light-gray;
    border-radius: 3px;
    // left: 50%;
    padding: $column-gutter;
    // position: absolute;
    // top: 50%;
    // transform: translate(-50%, -50%);

    &__title {
        padding: $column-gutter $column-gutter 0;
        font-size: $base-font-size * 1.5;
    }

    &__actions {
        padding: $column-gutter;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__buttons-title {
        padding-right: $column-gutter;
    }

    &__button {
        padding: 0;
        padding-right: $column-gutter;

        &:last-child {
            padding: 0;
        }
    }

    &__errors, &__sign-up {
        padding-top: $column-gutter;
    }

    &__sign-up {
        display: flex;
        justify-content: center;

        a {
            color: $light-blue;
        }
    }
}

.sign-in-form {
    padding-bottom: $column-gutter;

    &__field {
        display: block;
        padding-bottom: $column-gutter;
    }

    &__label {
        padding-right: $column-gutter;
    }

    &__input {
        margin-top: $column-gutter / 2;
        width: 100%;
    }

    &__button {
        background: $blue;
        border: 1px solid $light-blue;
        border-radius: 3px;
        color: #fff;
    }
}
