.header-nav {
    background: #111;
    box-shadow: 0px 0px 4px black;
    display: flex;
    line-height: $header-interior-height;
    padding: $column-gutter / 2 $column-gutter;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;

    &__link {
        padding: 0 $column-gutter;
        color: #fff;
    }

    &__logo {
        height: $header-interior-height - $column-gutter;
    }
}

.header-nav-actions {
    &__email {
        color: #eee;
    }

    &__sign-out {
        color: #bbb;
    }
}
